/*
    SMASC
    Scalable and Modular Architecture for Sassy CSS
    by Chris Javier Oliveros
*/
/*  Plugins Directory */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/* Global Directory */
/* -- Variables / Definition -- */
/* -- Functions -- */
/* Shared Directory */
/*  Base Directory */
/* 
    Set default global styles for button elements:
    <button></button>, input[type="submit"], btn btn-submit
*/
/* 
    Set default global styles the entire page:
    *, html, body,  
*/
/* 
    Set default global styles for display text:
    .display-1, .display-2, .display-3, .display-4
*/
/* 
    Set default style for footer:
    e.g. <footer></footer>, .footer
*/
/* 
    Set default global styles for form elements:
    e.g. textarea, radio, checkbox, label
*/
/* 
    Set default global styles for heading elements:
    h1, h2, h3, h4, h5, h6
*/
/* 
    Set default global styles for inputs elements:
    e.g. select, input[type="text"], input[type="email"], input[type="number"]
*/
/* 
    Set default global styles for link elements:
    <a></a> 
*/
/* 
    Set default global styles for list elements:
    e.g. ul, ol, li
*/
/* 
    Set default global styles for: 
    Images, Videos, iFrame, SVG assets, Figures 
*/
/* 
    Set default global styles for paragraph elements:
    e.g. p, .lead
*/
/* 
    Set default global style for table element:
    e.g. <table></table>, .table
*/
/* Layout Directory */
/* 
    Set wrapper properties:
    e.g. .wrapper, .main-wrapper
*/
/* 
    Set container properties:
    e.g. .container, .main-container
*/
/*  Modules Directory  */
/* Custom Directory */
/*  Animations Library */
/*# sourceMappingURL=main.css.map */