/*
    SMASC
    Scalable and Modular Architecture for Sassy CSS
    by Chris Javier Oliveros
*/
/*  Plugins Directory */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/* Global Directory */
/* -- Variables / Definition -- */
/* -- Functions -- */
/* Shared Directory */
/*  Base Directory */
/* 
    Set default global styles for button elements:
    <button></button>, input[type="submit"], btn btn-submit
*/
/* 
    Set default global styles the entire page:
    *, html, body,  
*/
/* 
    Set default global styles for display text:
    .display-1, .display-2, .display-3, .display-4
*/
/* 
    Set default style for footer:
    e.g. <footer></footer>, .footer
*/
/* 
    Set default global styles for form elements:
    e.g. textarea, radio, checkbox, label
*/
/* 
    Set default global styles for heading elements:
    h1, h2, h3, h4, h5, h6
*/
/* 
    Set default global styles for inputs elements:
    e.g. select, input[type="text"], input[type="email"], input[type="number"]
*/
/* 
    Set default global styles for link elements:
    <a></a> 
*/
/* 
    Set default global styles for list elements:
    e.g. ul, ol, li
*/
/* 
    Set default global styles for: 
    Images, Videos, iFrame, SVG assets, Figures 
*/
/* 
    Set default global styles for paragraph elements:
    e.g. p, .lead
*/
/* 
    Set default global style for table element:
    e.g. <table></table>, .table
*/
/* Layout Directory */
/* 
    Set wrapper properties:
    e.g. .wrapper, .main-wrapper
*/
/* 
    Set container properties:
    e.g. .container, .main-container
*/
.margin-0 {
  margin: 0px;
}

.margin-top-0 {
  margin-top: 0px;
}

.margin-right-0 {
  margin-right: 0px;
}

.margin-bottom-0 {
  margin-bottom: 0px;
}

.margin-left-0 {
  margin-left: 0px;
}

@media (max-width: 1200px) {
  .margin-0-xl {
    margin: 0px;
  }
  .margin-top-0-xl {
    margin-top: 0px;
  }
  .margin-right-0-xl {
    margin-right: 0px;
  }
  .margin-bottom-0-xl {
    margin-bottom: 0px;
  }
  .margin-left-0-xl {
    margin-left: 0px;
  }
  .margin-0-xl {
    margin: 0px;
  }
}

@media (max-width: 992px) {
  .margin-0-lg {
    margin: 0px;
  }
  .margin-top-0-lg {
    margin-top: 0px;
  }
  .margin-right-0-lg {
    margin-right: 0px;
  }
  .margin-bottom-0-lg {
    margin-bottom: 0px;
  }
  .margin-left-0-lg {
    margin-left: 0px;
  }
}

@media (max-width: 768px) {
  .margin-0-md {
    margin: 0px;
  }
  .margin-top-0-md {
    margin-top: 0px;
  }
  .margin-right-0-md {
    margin-right: 0px;
  }
  .margin-bottom-0-md {
    margin-bottom: 0px;
  }
  .margin-left-0-md {
    margin-left: 0px;
  }
}

@media (max-width: 576px) {
  .margin-0-sm {
    margin: 0px;
  }
  .margin-top-0-sm {
    margin-top: 0px;
  }
  .margin-right-0-sm {
    margin-right: 0px;
  }
  .margin-bottom-0-sm {
    margin-bottom: 0px;
  }
  .margin-left-0-sm {
    margin-left: 0px;
  }
}

@media (max-width: 375px) {
  .margin-0-xs {
    margin: 0px;
  }
  .margin-top-0-xs {
    margin-top: 0px;
  }
  .margin-right-0-xs {
    margin-right: 0px;
  }
  .margin-bottom-0-xs {
    margin-bottom: 0px;
  }
  .margin-left-0-xs {
    margin-left: 0px;
  }
}

.margin-1 {
  margin: 8px;
}

.margin-top-1 {
  margin-top: 8px;
}

.margin-right-1 {
  margin-right: 8px;
}

.margin-bottom-1 {
  margin-bottom: 8px;
}

.margin-left-1 {
  margin-left: 8px;
}

@media (max-width: 1200px) {
  .margin-1-xl {
    margin: 8px;
  }
  .margin-top-1-xl {
    margin-top: 8px;
  }
  .margin-right-1-xl {
    margin-right: 8px;
  }
  .margin-bottom-1-xl {
    margin-bottom: 8px;
  }
  .margin-left-1-xl {
    margin-left: 8px;
  }
  .margin-0-xl {
    margin: 0px;
  }
}

@media (max-width: 992px) {
  .margin-1-lg {
    margin: 8px;
  }
  .margin-top-1-lg {
    margin-top: 8px;
  }
  .margin-right-1-lg {
    margin-right: 8px;
  }
  .margin-bottom-1-lg {
    margin-bottom: 8px;
  }
  .margin-left-1-lg {
    margin-left: 8px;
  }
}

@media (max-width: 768px) {
  .margin-1-md {
    margin: 8px;
  }
  .margin-top-1-md {
    margin-top: 8px;
  }
  .margin-right-1-md {
    margin-right: 8px;
  }
  .margin-bottom-1-md {
    margin-bottom: 8px;
  }
  .margin-left-1-md {
    margin-left: 8px;
  }
}

@media (max-width: 576px) {
  .margin-1-sm {
    margin: 8px;
  }
  .margin-top-1-sm {
    margin-top: 8px;
  }
  .margin-right-1-sm {
    margin-right: 8px;
  }
  .margin-bottom-1-sm {
    margin-bottom: 8px;
  }
  .margin-left-1-sm {
    margin-left: 8px;
  }
}

@media (max-width: 375px) {
  .margin-1-xs {
    margin: 8px;
  }
  .margin-top-1-xs {
    margin-top: 8px;
  }
  .margin-right-1-xs {
    margin-right: 8px;
  }
  .margin-bottom-1-xs {
    margin-bottom: 8px;
  }
  .margin-left-1-xs {
    margin-left: 8px;
  }
}

.margin-2 {
  margin: 16px;
}

.margin-top-2 {
  margin-top: 16px;
}

.margin-right-2 {
  margin-right: 16px;
}

.margin-bottom-2 {
  margin-bottom: 16px;
}

.margin-left-2 {
  margin-left: 16px;
}

@media (max-width: 1200px) {
  .margin-2-xl {
    margin: 16px;
  }
  .margin-top-2-xl {
    margin-top: 16px;
  }
  .margin-right-2-xl {
    margin-right: 16px;
  }
  .margin-bottom-2-xl {
    margin-bottom: 16px;
  }
  .margin-left-2-xl {
    margin-left: 16px;
  }
  .margin-0-xl {
    margin: 0px;
  }
}

@media (max-width: 992px) {
  .margin-2-lg {
    margin: 16px;
  }
  .margin-top-2-lg {
    margin-top: 16px;
  }
  .margin-right-2-lg {
    margin-right: 16px;
  }
  .margin-bottom-2-lg {
    margin-bottom: 16px;
  }
  .margin-left-2-lg {
    margin-left: 16px;
  }
}

@media (max-width: 768px) {
  .margin-2-md {
    margin: 16px;
  }
  .margin-top-2-md {
    margin-top: 16px;
  }
  .margin-right-2-md {
    margin-right: 16px;
  }
  .margin-bottom-2-md {
    margin-bottom: 16px;
  }
  .margin-left-2-md {
    margin-left: 16px;
  }
}

@media (max-width: 576px) {
  .margin-2-sm {
    margin: 16px;
  }
  .margin-top-2-sm {
    margin-top: 16px;
  }
  .margin-right-2-sm {
    margin-right: 16px;
  }
  .margin-bottom-2-sm {
    margin-bottom: 16px;
  }
  .margin-left-2-sm {
    margin-left: 16px;
  }
}

@media (max-width: 375px) {
  .margin-2-xs {
    margin: 16px;
  }
  .margin-top-2-xs {
    margin-top: 16px;
  }
  .margin-right-2-xs {
    margin-right: 16px;
  }
  .margin-bottom-2-xs {
    margin-bottom: 16px;
  }
  .margin-left-2-xs {
    margin-left: 16px;
  }
}

.margin-3 {
  margin: 24px;
}

.margin-top-3 {
  margin-top: 24px;
}

.margin-right-3 {
  margin-right: 24px;
}

.margin-bottom-3 {
  margin-bottom: 24px;
}

.margin-left-3 {
  margin-left: 24px;
}

@media (max-width: 1200px) {
  .margin-3-xl {
    margin: 24px;
  }
  .margin-top-3-xl {
    margin-top: 24px;
  }
  .margin-right-3-xl {
    margin-right: 24px;
  }
  .margin-bottom-3-xl {
    margin-bottom: 24px;
  }
  .margin-left-3-xl {
    margin-left: 24px;
  }
  .margin-0-xl {
    margin: 0px;
  }
}

@media (max-width: 992px) {
  .margin-3-lg {
    margin: 24px;
  }
  .margin-top-3-lg {
    margin-top: 24px;
  }
  .margin-right-3-lg {
    margin-right: 24px;
  }
  .margin-bottom-3-lg {
    margin-bottom: 24px;
  }
  .margin-left-3-lg {
    margin-left: 24px;
  }
}

@media (max-width: 768px) {
  .margin-3-md {
    margin: 24px;
  }
  .margin-top-3-md {
    margin-top: 24px;
  }
  .margin-right-3-md {
    margin-right: 24px;
  }
  .margin-bottom-3-md {
    margin-bottom: 24px;
  }
  .margin-left-3-md {
    margin-left: 24px;
  }
}

@media (max-width: 576px) {
  .margin-3-sm {
    margin: 24px;
  }
  .margin-top-3-sm {
    margin-top: 24px;
  }
  .margin-right-3-sm {
    margin-right: 24px;
  }
  .margin-bottom-3-sm {
    margin-bottom: 24px;
  }
  .margin-left-3-sm {
    margin-left: 24px;
  }
}

@media (max-width: 375px) {
  .margin-3-xs {
    margin: 24px;
  }
  .margin-top-3-xs {
    margin-top: 24px;
  }
  .margin-right-3-xs {
    margin-right: 24px;
  }
  .margin-bottom-3-xs {
    margin-bottom: 24px;
  }
  .margin-left-3-xs {
    margin-left: 24px;
  }
}

.margin-4 {
  margin: 32px;
}

.margin-top-4 {
  margin-top: 32px;
}

.margin-right-4 {
  margin-right: 32px;
}

.margin-bottom-4 {
  margin-bottom: 32px;
}

.margin-left-4 {
  margin-left: 32px;
}

@media (max-width: 1200px) {
  .margin-4-xl {
    margin: 32px;
  }
  .margin-top-4-xl {
    margin-top: 32px;
  }
  .margin-right-4-xl {
    margin-right: 32px;
  }
  .margin-bottom-4-xl {
    margin-bottom: 32px;
  }
  .margin-left-4-xl {
    margin-left: 32px;
  }
  .margin-0-xl {
    margin: 0px;
  }
}

@media (max-width: 992px) {
  .margin-4-lg {
    margin: 32px;
  }
  .margin-top-4-lg {
    margin-top: 32px;
  }
  .margin-right-4-lg {
    margin-right: 32px;
  }
  .margin-bottom-4-lg {
    margin-bottom: 32px;
  }
  .margin-left-4-lg {
    margin-left: 32px;
  }
}

@media (max-width: 768px) {
  .margin-4-md {
    margin: 32px;
  }
  .margin-top-4-md {
    margin-top: 32px;
  }
  .margin-right-4-md {
    margin-right: 32px;
  }
  .margin-bottom-4-md {
    margin-bottom: 32px;
  }
  .margin-left-4-md {
    margin-left: 32px;
  }
}

@media (max-width: 576px) {
  .margin-4-sm {
    margin: 32px;
  }
  .margin-top-4-sm {
    margin-top: 32px;
  }
  .margin-right-4-sm {
    margin-right: 32px;
  }
  .margin-bottom-4-sm {
    margin-bottom: 32px;
  }
  .margin-left-4-sm {
    margin-left: 32px;
  }
}

@media (max-width: 375px) {
  .margin-4-xs {
    margin: 32px;
  }
  .margin-top-4-xs {
    margin-top: 32px;
  }
  .margin-right-4-xs {
    margin-right: 32px;
  }
  .margin-bottom-4-xs {
    margin-bottom: 32px;
  }
  .margin-left-4-xs {
    margin-left: 32px;
  }
}

.margin-5 {
  margin: 40px;
}

.margin-top-5 {
  margin-top: 40px;
}

.margin-right-5 {
  margin-right: 40px;
}

.margin-bottom-5 {
  margin-bottom: 40px;
}

.margin-left-5 {
  margin-left: 40px;
}

@media (max-width: 1200px) {
  .margin-5-xl {
    margin: 40px;
  }
  .margin-top-5-xl {
    margin-top: 40px;
  }
  .margin-right-5-xl {
    margin-right: 40px;
  }
  .margin-bottom-5-xl {
    margin-bottom: 40px;
  }
  .margin-left-5-xl {
    margin-left: 40px;
  }
  .margin-0-xl {
    margin: 0px;
  }
}

@media (max-width: 992px) {
  .margin-5-lg {
    margin: 40px;
  }
  .margin-top-5-lg {
    margin-top: 40px;
  }
  .margin-right-5-lg {
    margin-right: 40px;
  }
  .margin-bottom-5-lg {
    margin-bottom: 40px;
  }
  .margin-left-5-lg {
    margin-left: 40px;
  }
}

@media (max-width: 768px) {
  .margin-5-md {
    margin: 40px;
  }
  .margin-top-5-md {
    margin-top: 40px;
  }
  .margin-right-5-md {
    margin-right: 40px;
  }
  .margin-bottom-5-md {
    margin-bottom: 40px;
  }
  .margin-left-5-md {
    margin-left: 40px;
  }
}

@media (max-width: 576px) {
  .margin-5-sm {
    margin: 40px;
  }
  .margin-top-5-sm {
    margin-top: 40px;
  }
  .margin-right-5-sm {
    margin-right: 40px;
  }
  .margin-bottom-5-sm {
    margin-bottom: 40px;
  }
  .margin-left-5-sm {
    margin-left: 40px;
  }
}

@media (max-width: 375px) {
  .margin-5-xs {
    margin: 40px;
  }
  .margin-top-5-xs {
    margin-top: 40px;
  }
  .margin-right-5-xs {
    margin-right: 40px;
  }
  .margin-bottom-5-xs {
    margin-bottom: 40px;
  }
  .margin-left-5-xs {
    margin-left: 40px;
  }
}

.margin-6 {
  margin: 48px;
}

.margin-top-6 {
  margin-top: 48px;
}

.margin-right-6 {
  margin-right: 48px;
}

.margin-bottom-6 {
  margin-bottom: 48px;
}

.margin-left-6 {
  margin-left: 48px;
}

@media (max-width: 1200px) {
  .margin-6-xl {
    margin: 48px;
  }
  .margin-top-6-xl {
    margin-top: 48px;
  }
  .margin-right-6-xl {
    margin-right: 48px;
  }
  .margin-bottom-6-xl {
    margin-bottom: 48px;
  }
  .margin-left-6-xl {
    margin-left: 48px;
  }
  .margin-0-xl {
    margin: 0px;
  }
}

@media (max-width: 992px) {
  .margin-6-lg {
    margin: 48px;
  }
  .margin-top-6-lg {
    margin-top: 48px;
  }
  .margin-right-6-lg {
    margin-right: 48px;
  }
  .margin-bottom-6-lg {
    margin-bottom: 48px;
  }
  .margin-left-6-lg {
    margin-left: 48px;
  }
}

@media (max-width: 768px) {
  .margin-6-md {
    margin: 48px;
  }
  .margin-top-6-md {
    margin-top: 48px;
  }
  .margin-right-6-md {
    margin-right: 48px;
  }
  .margin-bottom-6-md {
    margin-bottom: 48px;
  }
  .margin-left-6-md {
    margin-left: 48px;
  }
}

@media (max-width: 576px) {
  .margin-6-sm {
    margin: 48px;
  }
  .margin-top-6-sm {
    margin-top: 48px;
  }
  .margin-right-6-sm {
    margin-right: 48px;
  }
  .margin-bottom-6-sm {
    margin-bottom: 48px;
  }
  .margin-left-6-sm {
    margin-left: 48px;
  }
}

@media (max-width: 375px) {
  .margin-6-xs {
    margin: 48px;
  }
  .margin-top-6-xs {
    margin-top: 48px;
  }
  .margin-right-6-xs {
    margin-right: 48px;
  }
  .margin-bottom-6-xs {
    margin-bottom: 48px;
  }
  .margin-left-6-xs {
    margin-left: 48px;
  }
}

.margin-7 {
  margin: 56px;
}

.margin-top-7 {
  margin-top: 56px;
}

.margin-right-7 {
  margin-right: 56px;
}

.margin-bottom-7 {
  margin-bottom: 56px;
}

.margin-left-7 {
  margin-left: 56px;
}

@media (max-width: 1200px) {
  .margin-7-xl {
    margin: 56px;
  }
  .margin-top-7-xl {
    margin-top: 56px;
  }
  .margin-right-7-xl {
    margin-right: 56px;
  }
  .margin-bottom-7-xl {
    margin-bottom: 56px;
  }
  .margin-left-7-xl {
    margin-left: 56px;
  }
  .margin-0-xl {
    margin: 0px;
  }
}

@media (max-width: 992px) {
  .margin-7-lg {
    margin: 56px;
  }
  .margin-top-7-lg {
    margin-top: 56px;
  }
  .margin-right-7-lg {
    margin-right: 56px;
  }
  .margin-bottom-7-lg {
    margin-bottom: 56px;
  }
  .margin-left-7-lg {
    margin-left: 56px;
  }
}

@media (max-width: 768px) {
  .margin-7-md {
    margin: 56px;
  }
  .margin-top-7-md {
    margin-top: 56px;
  }
  .margin-right-7-md {
    margin-right: 56px;
  }
  .margin-bottom-7-md {
    margin-bottom: 56px;
  }
  .margin-left-7-md {
    margin-left: 56px;
  }
}

@media (max-width: 576px) {
  .margin-7-sm {
    margin: 56px;
  }
  .margin-top-7-sm {
    margin-top: 56px;
  }
  .margin-right-7-sm {
    margin-right: 56px;
  }
  .margin-bottom-7-sm {
    margin-bottom: 56px;
  }
  .margin-left-7-sm {
    margin-left: 56px;
  }
}

@media (max-width: 375px) {
  .margin-7-xs {
    margin: 56px;
  }
  .margin-top-7-xs {
    margin-top: 56px;
  }
  .margin-right-7-xs {
    margin-right: 56px;
  }
  .margin-bottom-7-xs {
    margin-bottom: 56px;
  }
  .margin-left-7-xs {
    margin-left: 56px;
  }
}

.margin-8 {
  margin: 64px;
}

.margin-top-8 {
  margin-top: 64px;
}

.margin-right-8 {
  margin-right: 64px;
}

.margin-bottom-8 {
  margin-bottom: 64px;
}

.margin-left-8 {
  margin-left: 64px;
}

@media (max-width: 1200px) {
  .margin-8-xl {
    margin: 64px;
  }
  .margin-top-8-xl {
    margin-top: 64px;
  }
  .margin-right-8-xl {
    margin-right: 64px;
  }
  .margin-bottom-8-xl {
    margin-bottom: 64px;
  }
  .margin-left-8-xl {
    margin-left: 64px;
  }
  .margin-0-xl {
    margin: 0px;
  }
}

@media (max-width: 992px) {
  .margin-8-lg {
    margin: 64px;
  }
  .margin-top-8-lg {
    margin-top: 64px;
  }
  .margin-right-8-lg {
    margin-right: 64px;
  }
  .margin-bottom-8-lg {
    margin-bottom: 64px;
  }
  .margin-left-8-lg {
    margin-left: 64px;
  }
}

@media (max-width: 768px) {
  .margin-8-md {
    margin: 64px;
  }
  .margin-top-8-md {
    margin-top: 64px;
  }
  .margin-right-8-md {
    margin-right: 64px;
  }
  .margin-bottom-8-md {
    margin-bottom: 64px;
  }
  .margin-left-8-md {
    margin-left: 64px;
  }
}

@media (max-width: 576px) {
  .margin-8-sm {
    margin: 64px;
  }
  .margin-top-8-sm {
    margin-top: 64px;
  }
  .margin-right-8-sm {
    margin-right: 64px;
  }
  .margin-bottom-8-sm {
    margin-bottom: 64px;
  }
  .margin-left-8-sm {
    margin-left: 64px;
  }
}

@media (max-width: 375px) {
  .margin-8-xs {
    margin: 64px;
  }
  .margin-top-8-xs {
    margin-top: 64px;
  }
  .margin-right-8-xs {
    margin-right: 64px;
  }
  .margin-bottom-8-xs {
    margin-bottom: 64px;
  }
  .margin-left-8-xs {
    margin-left: 64px;
  }
}

.margin-9 {
  margin: 72px;
}

.margin-top-9 {
  margin-top: 72px;
}

.margin-right-9 {
  margin-right: 72px;
}

.margin-bottom-9 {
  margin-bottom: 72px;
}

.margin-left-9 {
  margin-left: 72px;
}

@media (max-width: 1200px) {
  .margin-9-xl {
    margin: 72px;
  }
  .margin-top-9-xl {
    margin-top: 72px;
  }
  .margin-right-9-xl {
    margin-right: 72px;
  }
  .margin-bottom-9-xl {
    margin-bottom: 72px;
  }
  .margin-left-9-xl {
    margin-left: 72px;
  }
  .margin-0-xl {
    margin: 0px;
  }
}

@media (max-width: 992px) {
  .margin-9-lg {
    margin: 72px;
  }
  .margin-top-9-lg {
    margin-top: 72px;
  }
  .margin-right-9-lg {
    margin-right: 72px;
  }
  .margin-bottom-9-lg {
    margin-bottom: 72px;
  }
  .margin-left-9-lg {
    margin-left: 72px;
  }
}

@media (max-width: 768px) {
  .margin-9-md {
    margin: 72px;
  }
  .margin-top-9-md {
    margin-top: 72px;
  }
  .margin-right-9-md {
    margin-right: 72px;
  }
  .margin-bottom-9-md {
    margin-bottom: 72px;
  }
  .margin-left-9-md {
    margin-left: 72px;
  }
}

@media (max-width: 576px) {
  .margin-9-sm {
    margin: 72px;
  }
  .margin-top-9-sm {
    margin-top: 72px;
  }
  .margin-right-9-sm {
    margin-right: 72px;
  }
  .margin-bottom-9-sm {
    margin-bottom: 72px;
  }
  .margin-left-9-sm {
    margin-left: 72px;
  }
}

@media (max-width: 375px) {
  .margin-9-xs {
    margin: 72px;
  }
  .margin-top-9-xs {
    margin-top: 72px;
  }
  .margin-right-9-xs {
    margin-right: 72px;
  }
  .margin-bottom-9-xs {
    margin-bottom: 72px;
  }
  .margin-left-9-xs {
    margin-left: 72px;
  }
}

.margin-10 {
  margin: 80px;
}

.margin-top-10 {
  margin-top: 80px;
}

.margin-right-10 {
  margin-right: 80px;
}

.margin-bottom-10 {
  margin-bottom: 80px;
}

.margin-left-10 {
  margin-left: 80px;
}

@media (max-width: 1200px) {
  .margin-10-xl {
    margin: 80px;
  }
  .margin-top-10-xl {
    margin-top: 80px;
  }
  .margin-right-10-xl {
    margin-right: 80px;
  }
  .margin-bottom-10-xl {
    margin-bottom: 80px;
  }
  .margin-left-10-xl {
    margin-left: 80px;
  }
  .margin-0-xl {
    margin: 0px;
  }
}

@media (max-width: 992px) {
  .margin-10-lg {
    margin: 80px;
  }
  .margin-top-10-lg {
    margin-top: 80px;
  }
  .margin-right-10-lg {
    margin-right: 80px;
  }
  .margin-bottom-10-lg {
    margin-bottom: 80px;
  }
  .margin-left-10-lg {
    margin-left: 80px;
  }
}

@media (max-width: 768px) {
  .margin-10-md {
    margin: 80px;
  }
  .margin-top-10-md {
    margin-top: 80px;
  }
  .margin-right-10-md {
    margin-right: 80px;
  }
  .margin-bottom-10-md {
    margin-bottom: 80px;
  }
  .margin-left-10-md {
    margin-left: 80px;
  }
}

@media (max-width: 576px) {
  .margin-10-sm {
    margin: 80px;
  }
  .margin-top-10-sm {
    margin-top: 80px;
  }
  .margin-right-10-sm {
    margin-right: 80px;
  }
  .margin-bottom-10-sm {
    margin-bottom: 80px;
  }
  .margin-left-10-sm {
    margin-left: 80px;
  }
}

@media (max-width: 375px) {
  .margin-10-xs {
    margin: 80px;
  }
  .margin-top-10-xs {
    margin-top: 80px;
  }
  .margin-right-10-xs {
    margin-right: 80px;
  }
  .margin-bottom-10-xs {
    margin-bottom: 80px;
  }
  .margin-left-10-xs {
    margin-left: 80px;
  }
}

.padding-0 {
  margin: 0px;
}

.padding-top-0 {
  margin-top: 0px;
}

.padding-right-0 {
  margin-right: 0px;
}

.padding-bottom-0 {
  margin-bottom: 0px;
}

.padding-left-0 {
  margin-left: 0px;
}

@media (max-width: 1200px) {
  .padding-0-xl {
    margin: 0px;
  }
  .padding-top-0-xl {
    margin-top: 0px;
  }
  .padding-right-0-xl {
    margin-right: 0px;
  }
  .padding-bottom-0-xl {
    margin-bottom: 0px;
  }
  .padding-left-0-xl {
    margin-left: 0px;
  }
  .padding-0-xl {
    margin: 0px;
  }
}

@media (max-width: 992px) {
  .padding-0-lg {
    margin: 0px;
  }
  .padding-top-0-lg {
    margin-top: 0px;
  }
  .padding-right-0-lg {
    margin-right: 0px;
  }
  .padding-bottom-0-lg {
    margin-bottom: 0px;
  }
  .padding-left-0-lg {
    margin-left: 0px;
  }
}

@media (max-width: 768px) {
  .padding-0-md {
    margin: 0px;
  }
  .padding-top-0-md {
    margin-top: 0px;
  }
  .padding-right-0-md {
    margin-right: 0px;
  }
  .padding-bottom-0-md {
    margin-bottom: 0px;
  }
  .padding-left-0-md {
    margin-left: 0px;
  }
}

@media (max-width: 576px) {
  .padding-0-sm {
    margin: 0px;
  }
  .padding-top-0-sm {
    margin-top: 0px;
  }
  .padding-right-0-sm {
    margin-right: 0px;
  }
  .padding-bottom-0-sm {
    margin-bottom: 0px;
  }
  .padding-left-0-sm {
    margin-left: 0px;
  }
}

@media (max-width: 375px) {
  .padding-0-xs {
    margin: 0px;
  }
  .padding-top-0-xs {
    margin-top: 0px;
  }
  .padding-right-0-xs {
    margin-right: 0px;
  }
  .padding-bottom-0-xs {
    margin-bottom: 0px;
  }
  .padding-left-0-xs {
    margin-left: 0px;
  }
}

.padding-1 {
  margin: 8px;
}

.padding-top-1 {
  margin-top: 8px;
}

.padding-right-1 {
  margin-right: 8px;
}

.padding-bottom-1 {
  margin-bottom: 8px;
}

.padding-left-1 {
  margin-left: 8px;
}

@media (max-width: 1200px) {
  .padding-1-xl {
    margin: 8px;
  }
  .padding-top-1-xl {
    margin-top: 8px;
  }
  .padding-right-1-xl {
    margin-right: 8px;
  }
  .padding-bottom-1-xl {
    margin-bottom: 8px;
  }
  .padding-left-1-xl {
    margin-left: 8px;
  }
  .padding-0-xl {
    margin: 0px;
  }
}

@media (max-width: 992px) {
  .padding-1-lg {
    margin: 8px;
  }
  .padding-top-1-lg {
    margin-top: 8px;
  }
  .padding-right-1-lg {
    margin-right: 8px;
  }
  .padding-bottom-1-lg {
    margin-bottom: 8px;
  }
  .padding-left-1-lg {
    margin-left: 8px;
  }
}

@media (max-width: 768px) {
  .padding-1-md {
    margin: 8px;
  }
  .padding-top-1-md {
    margin-top: 8px;
  }
  .padding-right-1-md {
    margin-right: 8px;
  }
  .padding-bottom-1-md {
    margin-bottom: 8px;
  }
  .padding-left-1-md {
    margin-left: 8px;
  }
}

@media (max-width: 576px) {
  .padding-1-sm {
    margin: 8px;
  }
  .padding-top-1-sm {
    margin-top: 8px;
  }
  .padding-right-1-sm {
    margin-right: 8px;
  }
  .padding-bottom-1-sm {
    margin-bottom: 8px;
  }
  .padding-left-1-sm {
    margin-left: 8px;
  }
}

@media (max-width: 375px) {
  .padding-1-xs {
    margin: 8px;
  }
  .padding-top-1-xs {
    margin-top: 8px;
  }
  .padding-right-1-xs {
    margin-right: 8px;
  }
  .padding-bottom-1-xs {
    margin-bottom: 8px;
  }
  .padding-left-1-xs {
    margin-left: 8px;
  }
}

.padding-2 {
  margin: 16px;
}

.padding-top-2 {
  margin-top: 16px;
}

.padding-right-2 {
  margin-right: 16px;
}

.padding-bottom-2 {
  margin-bottom: 16px;
}

.padding-left-2 {
  margin-left: 16px;
}

@media (max-width: 1200px) {
  .padding-2-xl {
    margin: 16px;
  }
  .padding-top-2-xl {
    margin-top: 16px;
  }
  .padding-right-2-xl {
    margin-right: 16px;
  }
  .padding-bottom-2-xl {
    margin-bottom: 16px;
  }
  .padding-left-2-xl {
    margin-left: 16px;
  }
  .padding-0-xl {
    margin: 0px;
  }
}

@media (max-width: 992px) {
  .padding-2-lg {
    margin: 16px;
  }
  .padding-top-2-lg {
    margin-top: 16px;
  }
  .padding-right-2-lg {
    margin-right: 16px;
  }
  .padding-bottom-2-lg {
    margin-bottom: 16px;
  }
  .padding-left-2-lg {
    margin-left: 16px;
  }
}

@media (max-width: 768px) {
  .padding-2-md {
    margin: 16px;
  }
  .padding-top-2-md {
    margin-top: 16px;
  }
  .padding-right-2-md {
    margin-right: 16px;
  }
  .padding-bottom-2-md {
    margin-bottom: 16px;
  }
  .padding-left-2-md {
    margin-left: 16px;
  }
}

@media (max-width: 576px) {
  .padding-2-sm {
    margin: 16px;
  }
  .padding-top-2-sm {
    margin-top: 16px;
  }
  .padding-right-2-sm {
    margin-right: 16px;
  }
  .padding-bottom-2-sm {
    margin-bottom: 16px;
  }
  .padding-left-2-sm {
    margin-left: 16px;
  }
}

@media (max-width: 375px) {
  .padding-2-xs {
    margin: 16px;
  }
  .padding-top-2-xs {
    margin-top: 16px;
  }
  .padding-right-2-xs {
    margin-right: 16px;
  }
  .padding-bottom-2-xs {
    margin-bottom: 16px;
  }
  .padding-left-2-xs {
    margin-left: 16px;
  }
}

.padding-3 {
  margin: 24px;
}

.padding-top-3 {
  margin-top: 24px;
}

.padding-right-3 {
  margin-right: 24px;
}

.padding-bottom-3 {
  margin-bottom: 24px;
}

.padding-left-3 {
  margin-left: 24px;
}

@media (max-width: 1200px) {
  .padding-3-xl {
    margin: 24px;
  }
  .padding-top-3-xl {
    margin-top: 24px;
  }
  .padding-right-3-xl {
    margin-right: 24px;
  }
  .padding-bottom-3-xl {
    margin-bottom: 24px;
  }
  .padding-left-3-xl {
    margin-left: 24px;
  }
  .padding-0-xl {
    margin: 0px;
  }
}

@media (max-width: 992px) {
  .padding-3-lg {
    margin: 24px;
  }
  .padding-top-3-lg {
    margin-top: 24px;
  }
  .padding-right-3-lg {
    margin-right: 24px;
  }
  .padding-bottom-3-lg {
    margin-bottom: 24px;
  }
  .padding-left-3-lg {
    margin-left: 24px;
  }
}

@media (max-width: 768px) {
  .padding-3-md {
    margin: 24px;
  }
  .padding-top-3-md {
    margin-top: 24px;
  }
  .padding-right-3-md {
    margin-right: 24px;
  }
  .padding-bottom-3-md {
    margin-bottom: 24px;
  }
  .padding-left-3-md {
    margin-left: 24px;
  }
}

@media (max-width: 576px) {
  .padding-3-sm {
    margin: 24px;
  }
  .padding-top-3-sm {
    margin-top: 24px;
  }
  .padding-right-3-sm {
    margin-right: 24px;
  }
  .padding-bottom-3-sm {
    margin-bottom: 24px;
  }
  .padding-left-3-sm {
    margin-left: 24px;
  }
}

@media (max-width: 375px) {
  .padding-3-xs {
    margin: 24px;
  }
  .padding-top-3-xs {
    margin-top: 24px;
  }
  .padding-right-3-xs {
    margin-right: 24px;
  }
  .padding-bottom-3-xs {
    margin-bottom: 24px;
  }
  .padding-left-3-xs {
    margin-left: 24px;
  }
}

.padding-4 {
  margin: 32px;
}

.padding-top-4 {
  margin-top: 32px;
}

.padding-right-4 {
  margin-right: 32px;
}

.padding-bottom-4 {
  margin-bottom: 32px;
}

.padding-left-4 {
  margin-left: 32px;
}

@media (max-width: 1200px) {
  .padding-4-xl {
    margin: 32px;
  }
  .padding-top-4-xl {
    margin-top: 32px;
  }
  .padding-right-4-xl {
    margin-right: 32px;
  }
  .padding-bottom-4-xl {
    margin-bottom: 32px;
  }
  .padding-left-4-xl {
    margin-left: 32px;
  }
  .padding-0-xl {
    margin: 0px;
  }
}

@media (max-width: 992px) {
  .padding-4-lg {
    margin: 32px;
  }
  .padding-top-4-lg {
    margin-top: 32px;
  }
  .padding-right-4-lg {
    margin-right: 32px;
  }
  .padding-bottom-4-lg {
    margin-bottom: 32px;
  }
  .padding-left-4-lg {
    margin-left: 32px;
  }
}

@media (max-width: 768px) {
  .padding-4-md {
    margin: 32px;
  }
  .padding-top-4-md {
    margin-top: 32px;
  }
  .padding-right-4-md {
    margin-right: 32px;
  }
  .padding-bottom-4-md {
    margin-bottom: 32px;
  }
  .padding-left-4-md {
    margin-left: 32px;
  }
}

@media (max-width: 576px) {
  .padding-4-sm {
    margin: 32px;
  }
  .padding-top-4-sm {
    margin-top: 32px;
  }
  .padding-right-4-sm {
    margin-right: 32px;
  }
  .padding-bottom-4-sm {
    margin-bottom: 32px;
  }
  .padding-left-4-sm {
    margin-left: 32px;
  }
}

@media (max-width: 375px) {
  .padding-4-xs {
    margin: 32px;
  }
  .padding-top-4-xs {
    margin-top: 32px;
  }
  .padding-right-4-xs {
    margin-right: 32px;
  }
  .padding-bottom-4-xs {
    margin-bottom: 32px;
  }
  .padding-left-4-xs {
    margin-left: 32px;
  }
}

.padding-5 {
  margin: 40px;
}

.padding-top-5 {
  margin-top: 40px;
}

.padding-right-5 {
  margin-right: 40px;
}

.padding-bottom-5 {
  margin-bottom: 40px;
}

.padding-left-5 {
  margin-left: 40px;
}

@media (max-width: 1200px) {
  .padding-5-xl {
    margin: 40px;
  }
  .padding-top-5-xl {
    margin-top: 40px;
  }
  .padding-right-5-xl {
    margin-right: 40px;
  }
  .padding-bottom-5-xl {
    margin-bottom: 40px;
  }
  .padding-left-5-xl {
    margin-left: 40px;
  }
  .padding-0-xl {
    margin: 0px;
  }
}

@media (max-width: 992px) {
  .padding-5-lg {
    margin: 40px;
  }
  .padding-top-5-lg {
    margin-top: 40px;
  }
  .padding-right-5-lg {
    margin-right: 40px;
  }
  .padding-bottom-5-lg {
    margin-bottom: 40px;
  }
  .padding-left-5-lg {
    margin-left: 40px;
  }
}

@media (max-width: 768px) {
  .padding-5-md {
    margin: 40px;
  }
  .padding-top-5-md {
    margin-top: 40px;
  }
  .padding-right-5-md {
    margin-right: 40px;
  }
  .padding-bottom-5-md {
    margin-bottom: 40px;
  }
  .padding-left-5-md {
    margin-left: 40px;
  }
}

@media (max-width: 576px) {
  .padding-5-sm {
    margin: 40px;
  }
  .padding-top-5-sm {
    margin-top: 40px;
  }
  .padding-right-5-sm {
    margin-right: 40px;
  }
  .padding-bottom-5-sm {
    margin-bottom: 40px;
  }
  .padding-left-5-sm {
    margin-left: 40px;
  }
}

@media (max-width: 375px) {
  .padding-5-xs {
    margin: 40px;
  }
  .padding-top-5-xs {
    margin-top: 40px;
  }
  .padding-right-5-xs {
    margin-right: 40px;
  }
  .padding-bottom-5-xs {
    margin-bottom: 40px;
  }
  .padding-left-5-xs {
    margin-left: 40px;
  }
}

.padding-6 {
  margin: 48px;
}

.padding-top-6 {
  margin-top: 48px;
}

.padding-right-6 {
  margin-right: 48px;
}

.padding-bottom-6 {
  margin-bottom: 48px;
}

.padding-left-6 {
  margin-left: 48px;
}

@media (max-width: 1200px) {
  .padding-6-xl {
    margin: 48px;
  }
  .padding-top-6-xl {
    margin-top: 48px;
  }
  .padding-right-6-xl {
    margin-right: 48px;
  }
  .padding-bottom-6-xl {
    margin-bottom: 48px;
  }
  .padding-left-6-xl {
    margin-left: 48px;
  }
  .padding-0-xl {
    margin: 0px;
  }
}

@media (max-width: 992px) {
  .padding-6-lg {
    margin: 48px;
  }
  .padding-top-6-lg {
    margin-top: 48px;
  }
  .padding-right-6-lg {
    margin-right: 48px;
  }
  .padding-bottom-6-lg {
    margin-bottom: 48px;
  }
  .padding-left-6-lg {
    margin-left: 48px;
  }
}

@media (max-width: 768px) {
  .padding-6-md {
    margin: 48px;
  }
  .padding-top-6-md {
    margin-top: 48px;
  }
  .padding-right-6-md {
    margin-right: 48px;
  }
  .padding-bottom-6-md {
    margin-bottom: 48px;
  }
  .padding-left-6-md {
    margin-left: 48px;
  }
}

@media (max-width: 576px) {
  .padding-6-sm {
    margin: 48px;
  }
  .padding-top-6-sm {
    margin-top: 48px;
  }
  .padding-right-6-sm {
    margin-right: 48px;
  }
  .padding-bottom-6-sm {
    margin-bottom: 48px;
  }
  .padding-left-6-sm {
    margin-left: 48px;
  }
}

@media (max-width: 375px) {
  .padding-6-xs {
    margin: 48px;
  }
  .padding-top-6-xs {
    margin-top: 48px;
  }
  .padding-right-6-xs {
    margin-right: 48px;
  }
  .padding-bottom-6-xs {
    margin-bottom: 48px;
  }
  .padding-left-6-xs {
    margin-left: 48px;
  }
}

.padding-7 {
  margin: 56px;
}

.padding-top-7 {
  margin-top: 56px;
}

.padding-right-7 {
  margin-right: 56px;
}

.padding-bottom-7 {
  margin-bottom: 56px;
}

.padding-left-7 {
  margin-left: 56px;
}

@media (max-width: 1200px) {
  .padding-7-xl {
    margin: 56px;
  }
  .padding-top-7-xl {
    margin-top: 56px;
  }
  .padding-right-7-xl {
    margin-right: 56px;
  }
  .padding-bottom-7-xl {
    margin-bottom: 56px;
  }
  .padding-left-7-xl {
    margin-left: 56px;
  }
  .padding-0-xl {
    margin: 0px;
  }
}

@media (max-width: 992px) {
  .padding-7-lg {
    margin: 56px;
  }
  .padding-top-7-lg {
    margin-top: 56px;
  }
  .padding-right-7-lg {
    margin-right: 56px;
  }
  .padding-bottom-7-lg {
    margin-bottom: 56px;
  }
  .padding-left-7-lg {
    margin-left: 56px;
  }
}

@media (max-width: 768px) {
  .padding-7-md {
    margin: 56px;
  }
  .padding-top-7-md {
    margin-top: 56px;
  }
  .padding-right-7-md {
    margin-right: 56px;
  }
  .padding-bottom-7-md {
    margin-bottom: 56px;
  }
  .padding-left-7-md {
    margin-left: 56px;
  }
}

@media (max-width: 576px) {
  .padding-7-sm {
    margin: 56px;
  }
  .padding-top-7-sm {
    margin-top: 56px;
  }
  .padding-right-7-sm {
    margin-right: 56px;
  }
  .padding-bottom-7-sm {
    margin-bottom: 56px;
  }
  .padding-left-7-sm {
    margin-left: 56px;
  }
}

@media (max-width: 375px) {
  .padding-7-xs {
    margin: 56px;
  }
  .padding-top-7-xs {
    margin-top: 56px;
  }
  .padding-right-7-xs {
    margin-right: 56px;
  }
  .padding-bottom-7-xs {
    margin-bottom: 56px;
  }
  .padding-left-7-xs {
    margin-left: 56px;
  }
}

.padding-8 {
  margin: 64px;
}

.padding-top-8 {
  margin-top: 64px;
}

.padding-right-8 {
  margin-right: 64px;
}

.padding-bottom-8 {
  margin-bottom: 64px;
}

.padding-left-8 {
  margin-left: 64px;
}

@media (max-width: 1200px) {
  .padding-8-xl {
    margin: 64px;
  }
  .padding-top-8-xl {
    margin-top: 64px;
  }
  .padding-right-8-xl {
    margin-right: 64px;
  }
  .padding-bottom-8-xl {
    margin-bottom: 64px;
  }
  .padding-left-8-xl {
    margin-left: 64px;
  }
  .padding-0-xl {
    margin: 0px;
  }
}

@media (max-width: 992px) {
  .padding-8-lg {
    margin: 64px;
  }
  .padding-top-8-lg {
    margin-top: 64px;
  }
  .padding-right-8-lg {
    margin-right: 64px;
  }
  .padding-bottom-8-lg {
    margin-bottom: 64px;
  }
  .padding-left-8-lg {
    margin-left: 64px;
  }
}

@media (max-width: 768px) {
  .padding-8-md {
    margin: 64px;
  }
  .padding-top-8-md {
    margin-top: 64px;
  }
  .padding-right-8-md {
    margin-right: 64px;
  }
  .padding-bottom-8-md {
    margin-bottom: 64px;
  }
  .padding-left-8-md {
    margin-left: 64px;
  }
}

@media (max-width: 576px) {
  .padding-8-sm {
    margin: 64px;
  }
  .padding-top-8-sm {
    margin-top: 64px;
  }
  .padding-right-8-sm {
    margin-right: 64px;
  }
  .padding-bottom-8-sm {
    margin-bottom: 64px;
  }
  .padding-left-8-sm {
    margin-left: 64px;
  }
}

@media (max-width: 375px) {
  .padding-8-xs {
    margin: 64px;
  }
  .padding-top-8-xs {
    margin-top: 64px;
  }
  .padding-right-8-xs {
    margin-right: 64px;
  }
  .padding-bottom-8-xs {
    margin-bottom: 64px;
  }
  .padding-left-8-xs {
    margin-left: 64px;
  }
}

.padding-9 {
  margin: 72px;
}

.padding-top-9 {
  margin-top: 72px;
}

.padding-right-9 {
  margin-right: 72px;
}

.padding-bottom-9 {
  margin-bottom: 72px;
}

.padding-left-9 {
  margin-left: 72px;
}

@media (max-width: 1200px) {
  .padding-9-xl {
    margin: 72px;
  }
  .padding-top-9-xl {
    margin-top: 72px;
  }
  .padding-right-9-xl {
    margin-right: 72px;
  }
  .padding-bottom-9-xl {
    margin-bottom: 72px;
  }
  .padding-left-9-xl {
    margin-left: 72px;
  }
  .padding-0-xl {
    margin: 0px;
  }
}

@media (max-width: 992px) {
  .padding-9-lg {
    margin: 72px;
  }
  .padding-top-9-lg {
    margin-top: 72px;
  }
  .padding-right-9-lg {
    margin-right: 72px;
  }
  .padding-bottom-9-lg {
    margin-bottom: 72px;
  }
  .padding-left-9-lg {
    margin-left: 72px;
  }
}

@media (max-width: 768px) {
  .padding-9-md {
    margin: 72px;
  }
  .padding-top-9-md {
    margin-top: 72px;
  }
  .padding-right-9-md {
    margin-right: 72px;
  }
  .padding-bottom-9-md {
    margin-bottom: 72px;
  }
  .padding-left-9-md {
    margin-left: 72px;
  }
}

@media (max-width: 576px) {
  .padding-9-sm {
    margin: 72px;
  }
  .padding-top-9-sm {
    margin-top: 72px;
  }
  .padding-right-9-sm {
    margin-right: 72px;
  }
  .padding-bottom-9-sm {
    margin-bottom: 72px;
  }
  .padding-left-9-sm {
    margin-left: 72px;
  }
}

@media (max-width: 375px) {
  .padding-9-xs {
    margin: 72px;
  }
  .padding-top-9-xs {
    margin-top: 72px;
  }
  .padding-right-9-xs {
    margin-right: 72px;
  }
  .padding-bottom-9-xs {
    margin-bottom: 72px;
  }
  .padding-left-9-xs {
    margin-left: 72px;
  }
}

.padding-10 {
  margin: 80px;
}

.padding-top-10 {
  margin-top: 80px;
}

.padding-right-10 {
  margin-right: 80px;
}

.padding-bottom-10 {
  margin-bottom: 80px;
}

.padding-left-10 {
  margin-left: 80px;
}

@media (max-width: 1200px) {
  .padding-10-xl {
    margin: 80px;
  }
  .padding-top-10-xl {
    margin-top: 80px;
  }
  .padding-right-10-xl {
    margin-right: 80px;
  }
  .padding-bottom-10-xl {
    margin-bottom: 80px;
  }
  .padding-left-10-xl {
    margin-left: 80px;
  }
  .padding-0-xl {
    margin: 0px;
  }
}

@media (max-width: 992px) {
  .padding-10-lg {
    margin: 80px;
  }
  .padding-top-10-lg {
    margin-top: 80px;
  }
  .padding-right-10-lg {
    margin-right: 80px;
  }
  .padding-bottom-10-lg {
    margin-bottom: 80px;
  }
  .padding-left-10-lg {
    margin-left: 80px;
  }
}

@media (max-width: 768px) {
  .padding-10-md {
    margin: 80px;
  }
  .padding-top-10-md {
    margin-top: 80px;
  }
  .padding-right-10-md {
    margin-right: 80px;
  }
  .padding-bottom-10-md {
    margin-bottom: 80px;
  }
  .padding-left-10-md {
    margin-left: 80px;
  }
}

@media (max-width: 576px) {
  .padding-10-sm {
    margin: 80px;
  }
  .padding-top-10-sm {
    margin-top: 80px;
  }
  .padding-right-10-sm {
    margin-right: 80px;
  }
  .padding-bottom-10-sm {
    margin-bottom: 80px;
  }
  .padding-left-10-sm {
    margin-left: 80px;
  }
}

@media (max-width: 375px) {
  .padding-10-xs {
    margin: 80px;
  }
  .padding-top-10-xs {
    margin-top: 80px;
  }
  .padding-right-10-xs {
    margin-right: 80px;
  }
  .padding-bottom-10-xs {
    margin-bottom: 80px;
  }
  .padding-left-10-xs {
    margin-left: 80px;
  }
}

/* Overrides Bootstrap Column Paddings to 8-point Grid */
.col,
[class*='col-'] {
  padding-left: 16px;
  padding-right: 16px;
}

/*  Modules Directory  */
/* Custom Directory */
/*  Animations Library */
/*# sourceMappingURL=main.css.map */