/*
    SMASC
    Scalable and Modular Architecture for Sassy CSS
    By: Chris Javier Oliveros
*/

@import './0-plugins/plugins-dir';
@import './1-global/global-dir';
@import './2-shared/shared-dir';
@import './3-base/base-dir';
@import './4-layout/layout-dir';
@import './5-modules/modules-dir';
@import './6-custom/custom-dir';
@import './7-animation/animations-dir';
