// Import SCSS Dependencies;
@import './1-main/sizes';
@import './1-main/responsive';
@import './1-main/theming';

.masthead {
    position: relative;
    display: flex;
    align-items: center;
    padding: $size-8;
    padding-bottom: 0 !important;
    background-color: getColor(Neutral-1);
    overflow: hidden;

    .heading-group {
        position: relative;
        padding-right: $size-2;
        flex-grow: 1;
        z-index: 2;

        h1 {
            margin-bottom: $size-1;
        }
    }

    .preview-wrapper {
        position: relative;
        padding-left: $size-2;
        height: 320px;
        width: 460px;
        flex-shrink: 0;
        z-index: 1;

        [class*="preview-"] {
            position: absolute;
            border: 8px solid #ffffff;
            box-shadow: 0 0 15px rgba(104, 104, 104, 0.2);

            img {
                width: 100%;
                height: auto;
                object-fit: contain;
                object-position: top center;
            }

        }

        .preview-1 {
            top: 0;
            right: 0;
            z-index: 2;
            height: 100%;
            width: 100%;
        }

        .preview-2 {
            left: -180px;
            bottom: 0;
            width: 240px;
            height: 260px;
            z-index: 1;
        }

    }

    @include xl {
        padding: $size-7;

        .preview-wrapper {
            width: 400px;

            .preview-2 {
                left: -130px;
            }
        }
    }

    @include lg {
        padding: $size-6;

        .preview-wrapper {
            width: 380px;
            
            .preview-2 {
                display: none;
            }
        }
    }

    @include md {
        height: 300px;
        padding: $size-5;

        .heading-group {
            padding-right: 0;
        }

        .preview-wrapper {
            display: none;
        }
    }

    @include sm {
        padding: $size-4;
    }


}

