:root {
  --ui-figure-margin-block-start: 0;
  --ui-figure-margin-block-end: var(--ui-space-5);
  --ui-figure-gap: var(--ui-space-3);

  --ui-media-radius: var(--ui-radius-md);
  --ui-media-border-width: 0;
  --ui-media-border-color: transparent;

  --ui-figcaption-margin-block-start: var(--ui-space-3);
  --ui-figcaption-color: var(--ui-color-text-muted);
  --ui-figcaption-font-size: var(--ui-font-size-100);
  --ui-figcaption-line-height: var(--ui-line-height-base);
}
