/* Overrides Bootstrap Column Paddings to 8-point Grid */
.row {
    margin-right: -16px;
    margin-left: -16px;

    &.no-gutters {
        margin-right: 0;
        margin-left: 0;
    }
}

.col,
[class*='col-'] {
    padding-left: $size-2;
    padding-right: $size-2;
}