// Default;
@for $i from 0 through 10 {
    $size: 8 * $i;

    .margin-#{$i} {
        margin: $size+px;
    }

    .margin-top-#{$i} {
        margin-top: $size+px;
    }

    .margin-right-#{$i} {
        margin-right: $size+px;
    }

    .margin-bottom-#{$i} {
        margin-bottom: $size+px;
    }

    .margin-left-#{$i} {
        margin-left: $size+px;
    }

}

// xl devices;
@include xl {

    @for $i from 0 through 10 {
        $size: 8 * $i;

        .margin-#{$i}-xl {
            margin: $size+px;
        }

        .margin-top-#{$i}-xl {
            margin-top: $size+px;
        }

        .margin-right-#{$i}-xl {
            margin-right: $size+px;
        }

        .margin-bottom-#{$i}-xl {
            margin-bottom: $size+px;
        }

        .margin-left-#{$i}-xl {
            margin-left: $size+px;
        }

        .margin-0-xl {
            margin: 0px;
        }

    }

}

// lg devices;
@include lg {

    @for $i from 0 through 10 {
        $size: 8 * $i;

        .margin-#{$i}-lg {
            margin: $size+px;
        }

        .margin-top-#{$i}-lg {
            margin-top: $size+px;
        }

        .margin-right-#{$i}-lg {
            margin-right: $size+px;
        }

        .margin-bottom-#{$i}-lg {
            margin-bottom: $size+px;
        }

        .margin-left-#{$i}-lg {
            margin-left: $size+px;
        }
    }
    
}

// md devices;
@include md {

    @for $i from 0 through 10 {
        $size: 8 * $i;

        .margin-#{$i}-md {
            margin: $size+px;
        }

        .margin-top-#{$i}-md {
            margin-top: $size+px;
        }

        .margin-right-#{$i}-md {
            margin-right: $size+px;
        }

        .margin-bottom-#{$i}-md {
            margin-bottom: $size+px;
        }

        .margin-left-#{$i}-md {
            margin-left: $size+px;
        }

    }

}

// sm devices;
@include sm {

    @for $i from 0 through 10 {
        $size: 8 * $i;

        .margin-#{$i}-sm {
            margin: $size+px;
        }

        .margin-top-#{$i}-sm {
            margin-top: $size+px;
        }

        .margin-right-#{$i}-sm {
            margin-right: $size+px;
        }

        .margin-bottom-#{$i}-sm {
            margin-bottom: $size+px;
        }

        .margin-left-#{$i}-sm {
            margin-left: $size+px;
        }

    }

}

// xs devices;
@include xs {

    @for $i from 0 through 10 {
        $size: 8 * $i;

        .margin-#{$i}-xs {
            margin: $size+px;
        }

        .margin-top-#{$i}-xs {
            margin-top: $size+px;
        }

        .margin-right-#{$i}-xs {
            margin-right: $size+px;
        }

        .margin-bottom-#{$i}-xs {
            margin-bottom: $size+px;
        }

        .margin-left-#{$i}-xs {
            margin-left: $size+px;
        }
    }

}