// Default;
@for $i from 0 through 10 {
    $size: 8 * $i;

    .padding-#{$i} {
        padding: $size+px;
    }

    .padding-top-#{$i} {
        padding-top: $size+px;
    }

    .padding-right-#{$i} {
        padding-right: $size+px;
    }

    .padding-bottom-#{$i} {
        padding-bottom: $size+px;
    }

    .padding-left-#{$i} {
        padding-left: $size+px;
    }

}

// xl devices;
@include xl {

    @for $i from 0 through 10 {
        $size: 8 * $i;

        .padding-#{$i}-xl {
            padding: $size+px;
        }

        .padding-top-#{$i}-xl {
            padding-top: $size+px;
        }

        .padding-right-#{$i}-xl {
            padding-right: $size+px;
        }

        .padding-bottom-#{$i}-xl {
            padding-bottom: $size+px;
        }

        .padding-left-#{$i}-xl {
            padding-left: $size+px;
        }

        .padding-0-xl {
            padding: 0px;
        }

    }

}

// lg devices;
@include lg {

    @for $i from 0 through 10 {
        $size: 8 * $i;

        .padding-#{$i}-lg {
            padding: $size+px;
        }

        .padding-top-#{$i}-lg {
            padding-top: $size+px;
        }

        .padding-right-#{$i}-lg {
            padding-right: $size+px;
        }

        .padding-bottom-#{$i}-lg {
            padding-bottom: $size+px;
        }

        .padding-left-#{$i}-lg {
            padding-left: $size+px;
        }
    }

}

// md devices;
@include md {

    @for $i from 0 through 10 {
        $size: 8 * $i;

        .padding-#{$i}-md {
            padding: $size+px;
        }

        .padding-top-#{$i}-md {
            padding-top: $size+px;
        }

        .padding-right-#{$i}-md {
            padding-right: $size+px;
        }

        .padding-bottom-#{$i}-md {
            padding-bottom: $size+px;
        }

        .padding-left-#{$i}-md {
            padding-left: $size+px;
        }
    }

}

// sm devices;
@include sm {

    @for $i from 0 through 10 {
        $size: 8 * $i;

        .padding-#{$i}-sm {
            padding: $size+px;
        }

        .padding-top-#{$i}-sm {
            padding-top: $size+px;
        }

        .padding-right-#{$i}-sm {
            padding-right: $size+px;
        }

        .padding-bottom-#{$i}-sm {
            padding-bottom: $size+px;
        }

        .padding-left-#{$i}-sm {
            padding-left: $size+px;
        }
    }

}

// xs devices;
@include xs {

    @for $i from 0 through 10 {
        $size: 8 * $i;

        .padding-#{$i}-xs {
            padding: $size+px;
        }

        .padding-top-#{$i}-xs {
            padding-top: $size+px;
        }

        .padding-right-#{$i}-xs {
            padding-right: $size+px;
        }

        .padding-bottom-#{$i}-xs {
            padding-bottom: $size+px;
        }

        .padding-left-#{$i}-xs {
            padding-left: $size+px;
        }
    }
    
}