%standardize-form-elements {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.2;
  padding: 0;
  margin: 0;
}

%center-all {
  display: flex;
  align-items: center;
  justify-content: center;
}

%no-focus-outline {

  &:focus,
  &:active {
    outline: none;
  }
}