/*
    SMASCSS v4.1.2 (Powered by ChatGPT4)
    Scalable and Modular Architecture for Sassy CSS
    by Chris Javier Oliveros
*/
/* 
    Set default global styles for button elements:
    <button></button>, input[type="submit"], btn btn-submit
*/
.button,
button {
  cursor: pointer;
}
.button:disabled,
button:disabled, .disabled.button,
button.disabled {
  cursor: not-allowed;
}
.button:active,
button:active, .button:focus,
button:focus {
  outline: none;
}

.button,
button {
  font-size: 1em;
  padding: 12px 16px;
  border-radius: 3px;
}

/* 
    Set default style for footer:
    e.g. <footer></footer>, .footer
*/
/* 
    Set default global styles for inputs elements:
    e.g. select, input[type="text"], input[type="email"], input[type="number"]
*/
/* 
    Set default global styles for list elements:
    e.g. ul, ol, li
*/
ul,
li,
ol {
  margin: 0;
  padding: 0;
}

/* 
    Set default global styles for: 
    Images, Videos, iFrame, SVG assets, Figures 
*/
/* 
    Set default global style for table element:
    e.g. <table></table>, .table
*/