$spacings: (
  '0': 0,
  '1': 0.25rem,
  // 4px
  '2': 0.5rem,
  // 8px
  '3': 0.75rem,
  // 12px
  '4': 1rem,
  // 16px
  '5': 1.25rem,
  // 20px
  '6': 1.5rem,
  // 24px
  '7': 1.75rem,
  // 28px
  '8': 2rem,
  // 32px
  '9': 2.5rem,
  // 40px
  '10': 3rem,
  // 48px
  '11': 3.5rem,
  // 56px
  '12': 4rem,
  // 64px
  '13': 4.5rem,
  // 72px
  '14': 5rem,
  // 80px
  'auto': auto
);

@each $name, $value in $spacings {
  .p-#{$name} {
    padding: #{$value};
  }

  .pt-#{$name} {
    padding-top: #{$value};
  }

  .pb-#{$name} {
    padding-bottom: #{$value};
  }

  .pl-#{$name} {
    padding-left: #{$value};
  }

  .pr-#{$name} {
    padding-right: #{$value};
  }

  .px-#{$name} {
    padding-left: #{$value};
    padding-right: #{$value};
  }

  .py-#{$name} {
    padding-top: #{$value};
    padding-bottom: #{$value};
  }
}