@use "../../config/spacing" as spacing;

@each $name, $value in spacing.$spacing {
  .p-#{$name} {
    padding: var(--spacing-#{$name});
  }

  .pt-#{$name} {
    padding-top: var(--spacing-#{$name});
  }

  .pb-#{$name} {
    padding-bottom: var(--spacing-#{$name});
  }

  .pl-#{$name} {
    padding-left: var(--spacing-#{$name});
  }

  .pr-#{$name} {
    padding-right: var(--spacing-#{$name});
  }

  .px-#{$name} {
    padding-left: var(--spacing-#{$name});
    padding-right: var(--spacing-#{$name});
  }

  .py-#{$name} {
    padding-top: var(--spacing-#{$name});
    padding-bottom: var(--spacing-#{$name});
  }
}
