@use "../abstracts" as *;

html,
body {
  color: var(--color-Black);
  font-family: "DM Sans", sans-serif;
  font-size: rem(16);
  line-height: 1.5;
}

h1,
h2,
h3 {
  margin-bottom: rem(16);
  font-weight: bold;
}
