/**
 * Base Styles
 */

// Forward base files
@forward "reset";
@forward "typography";
@forward "buttons";

@use "../config/_index" as config;

// Generate CSS variables
@include config.generate-color-variables();
@include config.generate-typography-variables();
@include config.generate-spacing-variables();
@include config.generate-breakpoint-variables();
@include config.generate-button-variables();
