@use "../abstracts" as *;
@use "sass:color";

button,
.btn {
  border: none;
  display: inline-block;
  padding: rem(8) rem(16);
  border-radius: rem(4);
  background-color: var(--color-Primary);
  color: var(--color-White);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: var(--color-Primary-600);
  }
}
