/* Lists
-------------------------------------------------- */
ul,
ol {
  margin-top: 0;
  margin-bottom: 1em;
  padding-left: 1.5em;

  li {
    margin-bottom: 0.5em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
