/**
 * BASE TYPOGRAPHY STYLES & UTILITY FUNCTIONS
 * -----------------------------------------
 * Defines base styles for HTML typographic elements and includes
 * utility functions for unit conversions related to typography.
 */

html,
body {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.lead {
  font-size: 1.5rem;
  line-height: 1.35;
}

a {
  color: blue;
  text-decoration: underline;
  transition: color 0.2s;

  &:hover {
    color: darkblue;
  }
}

.text-small {
  font-size: 0.875rem;
}

/**
 * Strip units from a value
 * @param {Number} $value - Value with units
 * @return {Number} - Value without units
 * @example $unitless: strip-unit(16px); // Returns 16
 */
@function strip-unit($value) {
  @if type-of($value)=='number' and not unitless($value) {
    @return $value / ($value * 0 + 1);
  }

  @return $value;
}

/**
 * Convert px to rem
 * @param {Number} $px-value - Pixel value to convert
 * @param {Number} $base-font-size - Base font size (default: 16px)
 * @return {Number} - Value in rem units
 * @example $rem: px-to-rem(24px); // Returns 1.5rem
 */
@function px-to-rem($px-value, $base-font-size: 16px) {
  $px-stripped: strip-unit($px-value);
  $base: strip-unit($base-font-size);

  @return (#{$px-stripped / $base}rem);
}

/**
* Convert rem to px
* @param {Number} $rem-value - Rem value to convert
* @param {Number} $base-font-size - Base font size (default: 16px)
* @return {Number} - Value in px units
* @example $px: rem-to-px(1.5rem); // Returns 24px
*/
@function rem-to-px($rem-value, $base-font-size: 16px) {
  $rem-stripped: strip-unit($rem-value);
  $base: strip-unit($base-font-size);

  @return (#{$rem-stripped * $base}px);
}