/* General Typography Rules */
html,
body {
  font-size: 16px;
  line-height: 1.2;
}

p {
  font-size: 1em;
}

a {
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {

  &.uppercase {
    text-transform: uppercase;
  }

  &.light {
    font-weight: 100;
  }
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

.section-heading {
  margin-bottom: $size-3;
}
