/* 
    Set wrapper properties:
    e.g. .wrapper, .main-wrapper
*/

.global-wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 32px;

  @include lg {
    padding: 0 24px;
  }

  @include md {
    padding: 0 24px;
  }

  @include sm {
    padding: 0 16px;
  }

  &.section-padding {
    padding-top: 64px;
    padding-bottom: 64px;

    @include xl {
      padding-top: 56px;
      padding-bottom: 56px;
    }

    @include lg {
      padding-top: 48px;
      padding-bottom: 48px;
    }

    @include md {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    @include sm {
      padding-top: 32px;
      padding-bottom: 32px;
    }

    @include xs {
      padding-top: 24px;
      padding-bottom: 24px;
    }

  }
}