/* -- Variables / Definition -- */
$colors: (
    Berry: #E54B4B,
    Proxima: #345995,
    Lemon: #EAC435,
    Olive: #8CB369,
    White: #ffffff,
    Coal: #646464,
    Black: #222222
);

/* -- Functions -- */
@function getColor($name) {
    @return map-get($colors, $name);
}

@function colorOpacity($color, $percentage) {
    $opacity: $percentage / 100;
    @return rgba( $color, $opacity );
}

@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
    @return mix(black, $color, $percentage);
}
