@function getColor($var) {
    @return var(--#{$var});
}

@function opacityColor() {}

@function tintColor() {}

@function shadeColor() {}

@mixin generateColors($themeArray) {

    @each $colorGroupTitle,
    $colorsArray in $themeArray {
        @each $colorHex in $colorsArray {

            // If color is for Inputs;
            @if ($colorGroupTitle=='Input') {

                @each $inputName,
                $inputColorHex in $colorHex {
                    --#{$inputName}: #{$inputColorHex};
                }
            }

            // Default Color Array;
            @else {
                $i: index($colorsArray, $colorHex);
                --#{$colorGroupTitle}-#{$i}: #{$colorHex};
            }

        }
    }

    // Add standard Black and White Colors;
    --White: #FFFFFF;
    --Black: #000000;

}