@import './theming-functions';

$default: ( // Tip: You can always add your own custom color group;
    // it will be generated as its own css variable;

    Primary: (#e54c4c),
    Secondary: (#31c5ff, #eac435),

    // Do not include Black and White here;
    // as they are already packaged by default;
    Neutral: (#f8f8f8, #202020),

    // Default Input Colors
    Input: ((Success: #2fd12f),
        (Warning: #eca622),
        (Danger: #da1d1d)));


.bg-neutral-1 {
    background-color: getColor(Neutral-1);
}


body {
    @include generateColors($default);
}