$default: (
    
    /* Primary and Secondary Colors */
    Primary: (#e54c4c),
    Secondary: (#31c5ff, #eac435),

    /* Do not include Black and White here;
    as they are already packaged by default */
    Neutral: (#f0f0f0, #202020),
    
    /* Default Input Colors */
    Input: (
        (Success: #2fd12f),
        (Warning: #eca622),
        (Danger: #da1d1d)
    )
    
);

/* Tip: You can always add your own custom color group */

body {
    @include generateColors($default);
}

