$colors: (
  Primary: #e54c4c,
  Secondary: #31c5ff,
  Tertiary: #eac435,

  Light: #f8f8f8,
  Dark: #2c2c2c,

  Success: #2fd12f,
  Warning: #eca622,
  Danger: #da1d1d);

:root {
  @each $colors,
  $hex in $colors {
    --#{$colors}: #{$hex};
  }
}