/* 
    Set default global styles the entire page:
    *, html, body,  
*/



* {
    box-sizing: border-box;
}

html,
body {
    position: relative;
    height: 100%;
    width: 100%;
    min-width: 320px;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    display: block;
}

a {
    background-color: transparent;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}


abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}


small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

progress {
    vertical-align: baseline;
}

fieldset {
    padding: 0;
}

legend {
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

img {
    border-style: none;
}

select,
input,
button,
optgroup,
textarea {
    @extend %standardize-form-elements;
}

textarea {
    overflow: auto;
}

select,
input {
    text-transform: none;
}

input {
    &[type="search"] {
        appearance: textfield;
        outline-offset: -2px;
    }
}

button {
    border-style: none;
    text-transform: none;
    appearance: button;
    padding: 0;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}


[hidden] {
    display: none;
}